body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}

/*Header*/
header{
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1{
    font-size: 1.5rem; /*smaller on phone*/
    margin: 0;
}

/*Nav stacked on phones*/
nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #34495e;
    padding: 10px;
    gap: 8px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9ren;
}

nav a:hover{
    color: #1abc9c;
}

/*Dark mode button: sits below links on mobile*/
#toggle-theme{
    background: none;
    border: none;
    font: 1.2rem;
    cursor: pointer;
    color: white;
}

section{
    background: white;
    margin: 10px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer{
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: 15px;
}

@media (min-width: 768px) {
    nav{
        flex-direction: row;
        justify-content: center;
    }

    #toggle-theme{
        margin-left:auto;
    }

    section{
        max-width: 700px;
        margin: 15px auto;
        padding: 15px;
    }

    header h1{
        font-size: 2rem;
    }
}

@media (min-width: 1024px){
    header h1 {
        font-size: 2.5rem;
    }

    nav {
        display: flex;
        justify-content: center;  /* keeps links centered */
        align-items: center;
        gap: 15px;
        padding: 10px 20px;
        background: #34495e;
        position: relative; /* needed for positioning button */
    }

    #toggle-theme {
        position: absolute;
        right: 20px;    /* sticks button to far right */
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        color: white;   /* default light mode color */
    }
    section{
        max-width: 900px;
        padding: 20px;
    }
}

body.dark{
    background: #1e1e1e;
    color: #eee;
}

body.dark header{
    background: linear-gradient(135deg, #111, #333);
}

body.dark nav{
    background: linear-gredient(135deg, #111, #333);
}

body.dark nav a{
    color: #eee;
}

body.dark section{
    background: #2c2c2c;
    color:#eee;
}

body.dark section a{
    color: #eee;
}

body.dark footer{
    background: #111;
    color: #aaa;
}

body.dark #toggle-theme{
    color: #eee;
}