body{
    text-align: center;
    font-family: Arial, sans-serif;
}

.gallery{
    background: rgb(245, 239, 239);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery img{
    border-radius: 8px;
    border: 8px solid #ddd;
    width: 250px;
    height: auto;
}

.gallery img:hover{
    transform: scale(1.1);
}